@import 'bulma';


.background {
    background: url(/images/logo.jpg) no-repeat center center fixed;
    font-family: 'Alice', serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 545px;
    filter: blur(0px);
}

nav {
	text-align: center;	
	
	font-size: 20px;
    // border: solid 2px;
    background: #294171;
    color:white;
    height: 60px;
    padding-top: 13px;

}

.form-login {
	margin: auto;
	width: 10%;
}

.profimage {
	height: 100px;
	width: 100px;
}

.singlewrapper {
	height:547px;
	width: 100%;
	overflow: scroll;
	background: white;
}

.singleimage {
    width: 100%;
    border: solid;
    height: 349%;
  

}
.MESH{
	text-align: center;
    height: 60px;
    padding-top: 13px;
    font-size: 20px;
    // border: solid 2px;
    background: #294171;
    color:white;
}
.welcome{
	text-align: center;
    height: 85px;
    padding-top: 25px;
    font-size: 19px;
}
.form-login{
    width: 235px;
    height: 380px;
    padding-top: 239px;
    margin-left: 75px;
}
.input{
	width: 235px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}
button.button.is-primary{
	width:230px;
	    background-color: #294171;
    border-width: 0;
    color: white;

}
.navspace1{
	padding-left: 90px;
    padding-top: 4px;
    font-size: 20px;
    text-decoration: underline;

}
a{
	color:white;    
}
.form-reg {
	margin: auto;
    width: 360px;
    margin-left:85px;
}
 
.navspace {
	margin-right: 20px;
}

.navspace2{
	padding-left: 90px;
    padding-top: 4px;
    font-size: 12px;
    text-decoration: underline;
}
img{
	    width: 38px;
}

.slider{
	height:545px;
}
.slide {
	width: 20%;
	float: left;
}

.slider img{
	width: 100%;
	float: left;
}
.slider{
	position: relative;
	width: 500%;
	margin:0px;
	left:0px;
	animation: 10s slidy infinite;
}
@keyframes slidy{
	0%{
		left: 0%;
	}
	10%{
		left: 0%;
	}
	12%{
		left: -100%;
	}
	22%{
		left: -100%;
	}
	24%{
		left: -200%;
	}
	34%{
		left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
		left: -300%;
	}
	48%{
		left: -400%;
	}
	58%{
		left: -400%;
	}
	60%{
		left: -300%;
	}
	65%{
		left: -300%;
	}
	70%{
		left: -300%;
	}
	72%{
		left: -300%;
	}
	82%{
		left: -200%;
	}
	84%{
		left: -100%;
	}
	94%{
		left: -100%;
	}
	0%{
		left: 0%;
	}


}

.blue {
	color: lightgrey;
	
    // padding-right: 15px;
    // font-size: 35px;
    // border:solid;
}

.nearbybox {
	border-bottom: 1px solid grey;
	padding: 20px;
	
}

.nearbybox:hover {
	background: #BEEFFE;
}

.nearbypic {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.name {
	margin-left: 15px;
}

.nearbytitle {
	// font-size: 18px;
	// margin-left: 120px;
	// font-weight: bold;
	
}

.comp {
	// margin-left: 15px;
}
.usersP{
	
    bottom: 435px;
    left: 149px;
	font-size:30px;
	color: black;
	font-size: 25px;	
}
.email{
    color:grey;

  
    	

}
.userwrapper{
	border: solid;
    width: 55px;
    border-radius: 3px;
  
   
}

.singleimage4{
	border: 3px solid white;
    margin-right: 20px;
    margin-left: 3px;
    width: 20%;
    border-radius: 56px;
    border-color: black;
    height: 60%;
}
.singlecont{
	height: 47%;
	background: #47A2C2;
	width: 100%;
	
background: url(/images/22.jpg) no-repeat center center fixed;
    font-family: 'Alice', serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}
.singlecont1{
	border:solid;
	height:115px;
	background: url(/images/22.jpg) no-repeat center center fixed;
    font-family: 'Alice', serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
.url{
	position: absolute;
    bottom: 538px;
    left: 214px;
    font-size: 15px;
    color: white;
    font-size: 27px;
    border: solid;
    width: 45px;
    background: #294171;
    padding-left: 13px;
    border-radius: 30px;
    color: white;
    box-shadow: black 0px 13px 19px;
}
.1{
    font-size: 22px;
}
.imgcont{
	
    height: 100px;
    width: 100%;
}
.singlecont2{

	width: 375px;
    margin-left: 0px; 
    margin-top: 86px;


}
.singlecont3{
    float: right;
    height: 139%;
    width: 64%;
    margin-top: 0px;
    border: solid;


}
.closeusers{
	width: 375px;
    height: 50px;
    border: solid 1px;
    border-radius: 3px;
    font-size: 25px;

}
.nearbywrapper.ng-scope{
	height: 522px;
	overflow:scroll;
    
}
div.main-content.ng-scope{
    height: 546px;
}
div.nborder{
border:solid 1px;
border-radius: 2px;
padding-top: 15px;
overflow:scroll;
}




.innerbox1{
	float: right;
    border: solid;
    width: 22%;
    height: 39px;
}
.comp{
	
	height:65px;
	margin-top:8px;


}
.comp3{
    width: 100%;
    height: 102%;
    border: solid;
    margin: 0%;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    font-size: 28px;
    color: #294171;
    border: solid;
    
}
.comp4{
	border:solid;
	height:25%;
	margin-top:8px;
	border-radius: 3px;
}
.nearP{
	height:20%;
	margin-top:6px;
	overflow:hiddin;

}

.about{
	margin-top: 18px;
	border-bottom:solid 1px;
	font-size:17px;
}
h1{
	color:black;
	padding-top:3px;
}
.u{
	float: right;
}

// ------------ThereadsCSS------------------------------//
.thread{
   
	height:90px;
}
.threadpic {
    width: 64px;
    height: 63px;
    border-radius: 48px;
    margin-left: 5px;
    border: solid 1px black;
    padding-left: 0px;
}
.imgthread{
	width: 18%;
    border-radius: 43px;
    border: solid;
    border-color: red;
  
}

.threadname {
	margin-left: 3%;
    margin-top: 0px;
    font-size: 14px;
    color: black;
    padding-bottom: 0px;
}
.threaddiv {
    margin-top: 5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-top: 8px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.threadheader {
	    margin-left: 43%;
    font-weight: bold;
    font-size: 20px;
    height: 35px;
    padding-top: 6px;
}
.blue2 {
	color: lightgrey;
}
.thredwrap{
	width: 100%;
    height: 100%;
    overflow: scroll;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}



// ---------------Message CSS-------------------------------//
.msgwrapper{
	height:94%;
	width:100%;
    overflow:scroll;
}
.msgBox1{
	width:100%;
	height:15%;
	background:red;
}
.msg1{
	
    font-size: 15px;
    width: 97%;
    border-radius: 15px;
    padding-left: 13px;
    margin-left: 5px;
    height: 49px;
    margin-bottom: 15px;

p{
	border-top: solid 1px;
    width: 100%;
}
form{
	
}
}

