@import 'bulma';

nav {
	text-align: center;	
	margin-top: 20px;
	margin-bottom: 20px;

}

.form-login {
	margin: auto;
	width: 10%;
}

.profimage {
	height: 100px;
	width: 100px;
}

.singlewrapper {
	margin: auto;
	width: 50%
}

.singleimage {
	height: 200px;
	width: 200px;
}