<div class="slider">
	<div class="slide">
	   <img src="/images/logo1.jpg"">
	</div>

    <div class="slide">
	   <img src="/images/logo2.jpeg"">
	</div>

	<div class="slide">
	   <img src="/images/logo3.jpg"">
	</div>

    <div class="slide">
	   <img src="/images/logo4.jpg"">
	</div>
    
    <div class="slide">
	   <img src="/images/logo.jpg"">
	</div>
</div>
<!-- {{home.events.events[0].description.text}}
 -->


<p class="homeinfo">Industry conferences offer outstanding opportunities for networking. They’re ideal places to meet new people, catch up with those you already know and -- if you plan it right -- introduce yourself to your next employer. But that's easier said than done, especially if you're new to the conference scene or you've never been taught any networking skills. But whether you're an extrovert who fits naturally into any situation or someone who has a hard time meeting and talking to new people, networking is a necessary skill if you're looking to get ahead.<p>
