
<div class="main-content" ui-view>
	
</div>
<nav class="foot">
<!-- 	<span class="navspace white"><a href="#/"><img src=images/tab2.jpg></a></span> -->
	<div class="navfix">
	<span class="navspace white"	
	    ng-show="!layout.loggedIn"><a href="#/login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></span>
	<span class="navspace white"
		ng-show="!layout.loggedIn"><a href="#/register"><i class="fa fa-user-plus" aria-hidden="true"></i></a></span>


<!-- 	<span class="navspace white"><a href="#/nearby"
		ng-show="layout.loggedIn">Nearby</a> -->



	<span class="navspace white"
		ng-show="layout.loggedIn"><a href="#/thread"
		><i class="fa fa-commenting-o" aria-hidden="true"></i></a></span>



	<span class="navspace white"
		ng-show="layout.loggedIn"><a href="#/users/{{layout.user_id}}"
		><i class="fa fa-user" aria-hidden="true"></i></a></span>

			<span class="navspace white signout" ng-show="layout.loggedIn"><a href="#/login"
		
		ng-click="layout.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></span>


		<!-- <img ng-src="{{layout.img}}" / class="circlesmall">

		<span class="navspace"><a href="#/login"
		ng-show="layout.loggedIn"
		ng-click="layout.logout()">Chat</a> -->
</nav>
</div>