
<div class="main-content" ui-view>
	
</div>
<nav>
	<!-- <span class="navspace white"><a href="#/"><img src=images/tab2.jpg></a></span> -->
	
	<span class="navspace white"><a href="#/login"
		ng-show="!layout.loggedIn">Login</a></span>
	<span class="navspace white"><a href="#/register"
		ng-show="!layout.loggedIn">Register</a></span>
	<span class="navspace white"><a href="#/login"
		ng-show="layout.loggedIn"
		ng-click="layout.logout()">Logout</a></span>


	<span class="navspace white"><a href="#/thread"
		ng-show="layout.loggedIn">Threads</a></span>

	<span class="navspace white"><a href="#/users/{{layout.user_id}}"
		ng-show="layout.loggedIn">My Profile</a></span>
		<!-- <img ng-src="{{layout.img}}" / class="circlesmall">

		<span class="navspace"><a href="#/login"
		ng-show="layout.loggedIn"
		ng-click="layout.logout()">Chat</a> -->
</nav>

