<div class="background">


<h1 class="welcome">Welcome</h1>
<!-- <img src=images/unnamed.png> -->

<div class="form-login">
  <form class="" name="new-info" ng-submit="login.activate(user)">
    <label class="control">

      <input class="input" name="username" type="text" placeholder="User Name"
             ng-model="user.username" required/>
    </label>
    <label class="control">
      <input class="input" name="password" type="password" placeholder="Password"
             ng-model="user.password" required/>
     </label>
 
    <button class="button is-primary">Login</button>
  </form>
<!--  <span class="navspace1"><a href="#/register"
    ng-show="!layout.loggedIn">  Register</a></span> -->
</div>
</div> 
