<!-- <h1 class="nearbytitle">Nearby Users</h1>
<div class="nearbywrapper">
<ul class="nearbox">
	<li ng-repeat="nearby in nearby.nearby">
	<div class="nearbybox">

		<div class="m"><a href="#/users/{{ nearby.user.id }}" class="blue">
		<img ng-src="{{nearby.user.img}}" class="nearbypic"/></a></div>
		<div class="nearbydescription">"{{nearby.user.description}}"</div>
		
		<div class="n"><span class="name"><a href="#/users/{{ nearby.user.id }}" class="blue">{{nearby.user.name}}</a></span></div>
		<div class="b"><span class="comp">{{nearby.user.company}}</span></div>
		
	</div>
	</li>
</ul>
</div> -->
<!-- 
<a ng-href="#/users/{{nearby.user_id}}" class="blue">Go back</a> -->

<h1 class="nearbytitle">Nearby Users</h1>
<div class="nearbywrapper">

<div class="nborder" ng-repeat="nearby in nearby.nearby">

<h4>{{nearby.user.name}}</h4>
<div class="comp1">
<h3 class="nme">Company: {{nearby.user.company}}</h3>
<h3 class="nme">Skills:  {{nearby.user.intrest}}</h3>
<a href ><h3 class="{nearby.user.linkedin}}">{{nearby.user.linkedin}}</h3></a>

</div>
<a href="#/users/{{ nearby.user.id }}" class="blue">
<img ng-src="{{nearby.user.img}}" class="nearbypic"/>
<a href="#/message/{{ nearby.user.id }}" class="blue2">Message Me</a>

</div>

</div>
</div>
