<div class="background">

<div class="form-reg">
  <form class="" name="new-info" ng-submit="register.createUser(user)">
    <p class="control">
      <input name="username" type="text" placeholder="User Name"
             ng-model="user.username" required/>
    </p>
    <p class="control">
      <input name="password" type="password" placeholder="Password"
             ng-model="user.password" required/>
     </p>
    <p class="control">
      <input name="email" type="text" placeholder="Email"
             ng-model="user.email" required/>
     </p>
    <p class="control">
      <input name="name" type="text" placeholder="Full Name"
             ng-model="user.name" required/>
     </p>
    <p class="control">
      <input name="phone" type="text" placeholder="Contact Number"
             ng-model="user.number" required/>
     </p>
    <p class="control">
      <input name="linkedin" type="text" placeholder="Linkedin URL"
             ng-model="user.linkedin" required/>
     </p>
         <p class="control">
      <input name="company" type="text" placeholder="Company (optional)"
             ng-model="user.company" />
     </p>
      <p class="control">
      <input name="image" type="text" placeholder="Profile Pic URL"
             ng-model="user.img" />
     </p>
      <p class="control">
      <input name="description" type="text" placeholder="About Yourself"
             ng-model="user.description" />
     </p>

    <button class="button is-primary">Register</button>
    <div class="navspace2"><a href="#/login"
    ng-show="!layout.loggedIn">Login</a></div>
  </form>
</div> 
