<div class="thredwrap">
  <h1 class="threadheader">Chat</h1>
     <div>
	 	<div ng-repeat="data in thread.thread.users" class="thread">
			<div class="threaddiv">
				<h2 class="threadname">{{ data.name }}</h2>
				<div class="threadimg">
			    	<a href="#/message/{{ data.id }}" class="blue2"> 
			        	<img ng-src="{{data.img}}" class="threadpic1" />
			        	<h2 class="tt">Company: {{ data.company }}</h2>
			        </a>
			    </div>
			</div>
		</div>
     </div> 
</div>
   </div>
<!-- {{thread.thread.users[0].name}} -->





